# Python class 1 

# operation

 * oprand
 * operators

In [1]:
print(5+7) # addition #print is pre-define function

12

In [2]:
print(5-2) # subtraction

3

In [3]:
print(5*2) # Multiplication

10

In [4]:
print(5/2) # division

2.5

In [5]:
print(5**2) # power

25

In [6]:
print(5//2) #floor division

2

In [7]:
print(11%3) # modulus

2

# =equal operator
* assign any value to variable(placeholder)
* Variable name= value
 (value any data type)
* String="----"

In [8]:
School="PIAIC"
Batch="36 & 37"
Teacher="Sir Muhammad Qasim"
Timing="9am to 12pm"

print(School)
print(Batch)
print(Teacher)
print(Timing)

PIAIC
36 & 37
Sir Muhammad Qasim
9am to 12pm

In [9]:
name = "Hammad Ahmad"
print(name)

Hammad Ahmad

## use some pre- define functions
* print()
* type()
* id()
* len()

In [14]:
name = "Hammad Ahmad"
print(type(name)) # data type
print(id(name)) # memory address
print(len(name)) # length(count number of character)

<class 'str'>
1476484217008
12

In [ ]:
a="Pakistan"
b="Pakistan"

print(id(a))
print(id(b))

1476484217776
1476484217776