# how to assign string values in variable

In [4]:
name = "Hammad Ahmad" # 1
print(name,type(name))

Hammad Ahmad <class 'str'>

In [5]:
name = 'Hammad Ahmad' # 2
print(name,type(name))

Hammad Ahmad <class 'str'>

In [7]:
#we have to define space characters (\n \t )
data = 'name:\tHammad\nfather Name:\tMukhtar Ahmad\nBatch:\t\t 36-37'
print(data)

name:	Hammad
father Name:	Mukhtar Ahmad
Batch:		 36-37

In [8]:
# if you are using sing quote in start and end 
# or you want to use in middle of the text the you place (\) 
# before middle single quote
data = 'name:\t\tHammad\nfather\'s Name:\tMukhtar Ahmad\nBatch:\t\t 36-37'
print(data)

name:		Hammad
father's Name:	Mukhtar Ahmad
Batch:		 36-37

In [5]:
data = "PIAIC \" ss \" Pakistan zinda bad"
print(data)

PIAIC " ss " Pakistan zinda bad

In [9]:
name = "Muhammad \"H\"ammad" # 1
print(name,type(name))

Muhammad "H"ammad <class 'str'>

In [10]:
# triple singl quote or triple double quote > define multi line string
data = """
Name:             Hammad Ahmad
Father's Name:    Mukhtar Ahmad
Batch:            36-37
"""
data # if you write in last line = out put raw text

"\nName:             Hammad Ahmad\nFather's Name:    Mukhtar Ahmad\nBatch:            36-37\n"

In [11]:
data = """
Name:             Hammad Ahmad
Father's Name:    Mukhtar Ahmad
Batch:            36-37
"""
print(data)

Name:             Hammad Ahmad
Father's Name:    Mukhtar Ahmad
Batch:            36-37

In [13]:
name

'Muhammad "H"ammad'

In [14]:
print(data)

Name:             Hammad Ahmad
Father's Name:    Mukhtar Ahmad
Batch:            36-37

In [25]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# How to apply varialbe name rules

In [19]:
1name = "Hammad"

SyntaxError: invalid syntax (103576136.py, line 1)

In [20]:
_1name = "Hammad Ahmad"
_1name

'Hammad Ahmad'

In [21]:
father_name1 = "Mukhtar Ahmad"
father_name1

'Mukhtar Ahmad'

In [22]:
father_Name1 = "Mukhar Ahmad"
father_Name1

'Mukhar Ahmad'

In [23]:
father@Name1 = "Mukhtar Ahmad"
father@Name1

SyntaxError: cannot assign to operator (1143534604.py, line 1)

In [24]:
name = "Hammad Ahmad"
print(Name) # casesensitive "A" not equal "a"

NameError: name 'Name' is not defined

In [34]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [35]:
"a"
'b'
print('c')# jupyter cell always return last line

c

# Concatination (combine two or more variables and values) | Text formation

In [25]:
name = "Hammad Ahmad"
father_name = "Mukhtar Ahmad"
education = "BS"
designation = "Data Scientist"

print(name, father_name, education, designation)

Hammad Ahmad Mukhtar Ahmad BS Data Scientist

In [26]:
name = "Hammad Ahmad"
father_name = "Mukhtar Ahmad"
education = "Bs"
designation = "Data Scientist"


print(name, father_name, education, designation, sep="\n")

Hammad Ahmad
Mukhtar Ahmad
Bs
Data Scientist

In [40]:
print('a')
print('b')

a
b

In [28]:
name = "Hammad Ahmad"
father_name = "Mukhtar Ahmad"
education = "Bs"
designation = "Data Scientist"
height = 5.4  #

# + operator on string join two string variable
result = "PIAIC Student Card\n Name: " + name +"\n Father's Name: "+father_name+"\n Education: "+education+"\n Designation: "+designation+"\n Height:"+str(height)

print(result)

PIAIC Student Card
 Name: Hammad Ahmad
 Father's Name: Mukhtar Ahmad
 Education: Bs
 Designation: Data Scientist
 Height:5.4

In [29]:
name = "Hammad Ahmad"
father_name = "Mukhtar Ahmad"
education = "Bs"
designation = "Data Scientist"
height = 5.4  #


data = """
PIAIC Student Card
 Name: {}
 Father's Name: {}
 Education: {}
 Designation: {}
 Height:{}
""".format(name,father_name,education,designation,height) # now we don't need to type cast


print(data)

PIAIC Student Card
 Name: Hammad Ahmad
 Father's Name: Mukhtar Ahmad
 Education: Bs
 Designation: Data Scientist
 Height:5.4

In [30]:
name = "Hammad Ahmad"
father_name = "Mukhtar Ahmad"
education = "Bs"
designation = "Data Scientist"
height = 5.4  #

data = """
PIAIC Student Card
 Name: {4}
 Father's Name: {0}
 Education: {2}
 Designation: {3}
 Height:{1}
""".format(father_name,height,education,designation,name) # now we don't need to type cast
#               0       1       2           3        4

print(data)

PIAIC Student Card
 Name: Hammad Ahmad
 Father's Name: Mukhtar Ahmad
 Education: Bs
 Designation: Data Scientist
 Height:5.4

In [32]:
name = "Hammad Ahmad"
father_name = "Mukhtar Ahmad"
education = "Bs"
designation = "Data Scientist"
height = 5.4  

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

PIAIC Teacher Card
 Name: Hammad Ahmad
 Father's Name: Mukhtar Ahmad
 Education: Bs
 Designation: Data Scientist
 Height:5.4

In [33]:
name

'Hammad Ahmad'

In [34]:
 0 1 2 3
(a,b,c,e)

SyntaxError: invalid syntax (844277270.py, line 1)

In [35]:
a = "Pakistan"
b = 1000

a + b

TypeError: can only concatenate str (not "int") to str

In [36]:
int('100')

100

In [37]:
a = "Pakistan"
b = 1000

a + str(b)

'Pakistan1000'

In [38]:
abc = input("Enter any value: ") #always return text value
print(abc)

Enter any value: Hammad Ahmad
Hammad Ahmad

In [39]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC student Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

Enter Your Name:Hammad Ahmad
Father's NameMukhtar Ahmad
EducationBS
Your DesignationData Scientist
Your Height5.4

PIAIC student Card
 Name: Hammad Ahmad
 Father's Name: Mukhtar Ahmad
 Education: BS
 Designation: Data Scientist
 Height:5.4

# String Methods

In [40]:
print(data)

PIAIC student Card
 Name: Hammad Ahmad
 Father's Name: Mukhtar Ahmad
 Education: BS
 Designation: Data Scientist
 Height:5.4

In [41]:
name = "Hammad Ahmad"
name.capitalize()

'Hammad ahmad'

In [42]:
name = "Hammad Ahmad"
name.casefold()

'hammad ahmad'

In [44]:
name = "Hammad Ahmad"
print("Hammad Ahmad"=="haMMad Ahmad")
name.casefold() == "haMMad Ahmad".casefold()

False

True

In [46]:
name = "Hammad Ahmad"
name.center(60)

'                        Hammad Ahmad                        '

In [50]:
name = "Hammad Ahmad"
name.center(6)

'Hammad Ahmad'

In [51]:
name = "Hammad Ahmad"

print(name.count("Hammad"))
print(name.count('a'))

1
3

In [52]:
name = "Hammad Ahmad"
name.encode('utf-8')

b'Hammad Ahmad'

In [54]:
name = "Hammad Ahmad"
name.endswith("ad")

True

In [55]:
name = "Hammad Ahmad"
name.startswith("Ham")

True

In [59]:
data = """
Name:\t Hammad Ahmad
Father:\t Mukhtar Ahmad
Education:\t BS
"""
print(data)

Name:	 Hammad Ahmad
Father:	 Mukhtar Ahmad
Education:	 BS

In [60]:
print(data.expandtabs(30))

Name:                          Hammad Ahmad
Father:                        Mukhtar Ahmad
Education:                     BS

In [62]:
name = "Hammad Ahmad"
print(name.find("Ha"))
print(name.find("a"))
print(name.find("a",4))
print(name.find("a",7))

0
1
4
10

In [65]:
name.find("Ah")

7

In [66]:
name = "Wajid Khan"
print(name.find("d K"))

4

In [69]:
name = "Wajid Khan"
name[0:7]

'Wajid K'

In [57]:
name = "Wajid Khan"
name.format_map()

'Wajid Khan'

In [73]:
records = {"x":"Hammad",
           "y":"Mukhtar",
          }

print("Name: {x} \nFather name:{y}".format_map(records))

Name: Hammad
Father name:Mukhtar

In [74]:
name = "Hammad Ahmad"
name.index('a')

1

In [71]:
name = "Muhammad3"
name.isalnum()

True

In [67]:
name = "Qasim"
name.isalpha()

True

In [68]:
name = "Qasim20"
name.isalpha()

False

In [75]:
name = "ڈیلی"
name.isascii()

False

In [78]:
name = "2"
name.isdecimal()

True

In [79]:
name = "2"
name.isdigit()

True

In [80]:
name = "20"
name.isnumeric()

True

In [82]:
name = "PaKIstAN"
name.lower()

'pakistan'

In [83]:
name = "PaKIstAN"
name.islower()

False

In [76]:
name = "  Hammad Ahmad  "
name.lstrip()

'Hammad Ahmad  '

In [77]:
name = "  Hammad Ahmad  "
name.rstrip()

'  Hammad Ahmad'

In [78]:
name = "  Hammad Ahmad  "
name.strip()

'Hammad Ahmad'

In [79]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']